body {
    font-family: Ubuntu, "PT Sans", "Trebouchet MS";
    font-weight: 200;
    background-color: lightyellow;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}